<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Portal</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
<div class="dashboard-wrapper">
    <div class="sidebar">
        <h2>Employee Portal</h2>
        <a href="/portal" class="active">Home</a>
        <a href="/portal/apply-leave">Apply for Leave</a>
        <a href="/portal/leave-list">My Leave Requests</a>
        <a href="/portal/attendance-status">Attendance Status</a>
        <a href="/portal/salary">Salary Slip</a>
        
        <a href="/logout">Logout</a>
    </div>

    <div class="main-content">
        <h1>Welcome</h1>
        <div class="stats-container">
            <div class="stats-card">
                Current month attendance
                <b th:text="${myCurrentMonthAttendance}">0</b>
            </div>
        </div>
    </div>
</div>
</body>
</html>