<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apply for Leave</title>
    <link rel="stylesheet" href="/css/attendance.css">
</head>
<body>
<div class="dashboard-wrapper">
    <div class="sidebar">
        <h2>Employee Portal</h2>
        <a href="/portal">Home</a>
        <a href="/portal/apply-leave" class="active">Apply for Leave</a>
        <a href="/portal/leave-list">My Leave Requests</a>
        <a href="/portal/attendance-status">Attendance Status</a>
        <a href="/portal/salary">Salary Slip</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="main-content">
        <h1>Leave Application</h1>
        <form th:action="@{/portal/apply-leave}" method="post" th:object="${leave}">
            <input type="hidden" name="empId" th:value="${empId}" />
            <label>From:</label>
            <input type="date" th:field="*{fromDate}" required /> <br/>
            <label>To:</label>
            <input type="date" th:field="*{toDate}" required /> <br/>
            <label>Type:</label>
            <select th:field="*{leaveType}">
                <option value="Casual">Casual</option>
                <option value="Sick">Sick</option>
            </select> <br/>
            <label>Duration:</label>
            <select th:field="*{duration}">
                <option value="Full">Full</option>
                <option value="Half">Half</option>
            </select> <br/>
            <label>Reason:</label>
            <textarea th:field="*{reason}"></textarea><br/>
            <button type="submit">Apply</button>
        </form>
    </div>
</div>
</body>
</html>